.git
.github
.venv
.vscode
.idea

__pycache__
*.py[cod]
*.egg-info

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
.coverage.*
htmlcov
coverage.xml

tests
adr
*.md
!README.md

.env
.env.*
!.env.example

Dockerfile
docker-compose*.yml
.dockerignore
.gitignore
.editorconfig
.pre-commit-config.yaml
